@include media-md {
  .header {
    background-image: url("~@/assets/tablet/bg-pattern-header.svg");
  }

  .main {
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include media-lg {
  .header {
    background-image: url("~@/assets/desktop/bg-pattern-header.svg");
  }

  .main {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .job {
    &__article {
      min-width: 45rem;
      max-width: 45rem;
    }

    &____footer {
      min-width: 45rem;
      max-width: 45rem;
    }

    &__contact {
      background-image: url("~@/assets/desktop/bg-pattern-detail-footer.svg");
    }
  }
}
