@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

// Colors

$primary-violet: #5964e0;
$primary-lightViolet: #939bf4;
$primary-blue: #19202d;
$primary-dark: #121721;

$secondary-white: #ffffff;
$secondary-lightGrey: #f4f6f8;
$secondary-grey: #9daec2;
$secondary-darkGrey: #6e8098;

// Font Variables
$kumbh-sans: "Kumbh Sans", sans-serif;
